* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-size: 102%;
}

body {
    background-color: #161f39;
    color: #fff;
}
header {
    height: 100vh;
    background-image: url('../src/assets/imgs/3.png');
    background-size: cover;
    background-position: center center;
}

input {
    border-color: rgba(86, 84, 84, 0.512) !important;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.txt-color {
    color: #24baef;
}

.cursor-pointer {
    cursor: pointer;
}

/* Start loading */
#loading {
    z-index: 99999;
    background-color: #161f39;
    color: #24baef;
}

.spinner {
    margin: 250px auto;
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #24baef;
    height: 100%;
    width: 7px;
    margin-left: 5px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;

}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* Start loading */

/* start nav comp */
.bg-light{
    background-color: #131722 !important;
}
.nav-item span{
    cursor: pointer;
}
.navbar .nav-item {
    font-size: 20px;
    font-weight: 500;
}
.navbar-brand {
    margin: 0px !important;
    padding: 0;
}

.setting-btn:hover {
    color: #24b9efc8 !important;
    border-color: #24b9efa4 !important;
}

/* end nav comp */

/* start home comp */

.brdr {
    height: 1px;
    background: rgb(87, 86, 86);
}
.badge-bg {
    background-color: #24baef !important;
    border-color: #24baef !important;
}

.media-box {
    transition: all 0.5s;
}

.media-box .badge {
    transition: all 1s;
}

.media-box:hover {
    transform: scale(1.2);
}

.media-box:hover .badge {
    padding: 6px !important;
}

.img-hover {
    background-color: #5d565639;
}

.img-hover:hover {
    opacity: 0 !important;
}
.showMore{
    transition: 1.5s all;  
}
.showMore:hover {
    border: 1px solid #24baef !important;
    background-color: transparent !important;
    width: 45% !important ;
   
}

/* end home comp */

/* start login & register */
.btn-outline-info:hover {
    color: white !important;
}

.form-return {
    border-bottom: 1px solid white;
}

.form-return:hover {
    color: #24baef !important;
    ;
    border-color: #24baef !important;
}

/* end login & register */

/* start movies & tv comp */
.img-hover-movietv {
    background-color: #5d565639;
}

.img-hover-movietv:hover {
    opacity: 0 !important;
}

/* end movies & tv comp */

@media(max-width:767px) {
    .col-xs-6 {
        width: 50%;
    }

    /* start nav comp */
    .nav-social {
        margin: 8px 0px !important;
    }

    .nav-social .f-icon {
        margin-left: 0px !important;
    }

    .dropdown {
        margin: 10px 0 !important;
    }

    .logout-item {
        padding-top: 0px !important;
    }

    /* end nav comp */

    /* start home comp */
    .display-media {
        padding: 13px 15px !important;
        
        
    }
    .img-layer:hover {
        transform: scale(1.12);
    }   
    .media-page img {
        width: 80% !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
        margin-bottom: 3px;
    }
    .mediaTitle {
        font-size: 18px !important;
    }
    header{
        height: 85vh !important;
    }
    /* end home comp */

    /* start movies & tv comp */
    .inputSearch {
        padding: 48px 20px !important;
    }

    .inputSearch input {
        width: 95% !important;
    }

    .media-page {
        padding: 13px 10px !important;
    }

    .media-page .badge {
        margin-right: 29px !important;
        /* bottom: 15px; */
    }

    .img-hover-movietv {
        width: 80% !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
        height: 99.2% !important;
    }

    /* end movies & tv comp */

    /* start login & signup comp */
    .form-return {
        font-size: 18px !important;
    }

    .sign-page {
        margin-top: 50px !important;
    }

    /* end login & signup comp */
}

@media(min-width:768px)and (max-width:992px) {

    /* start nav comp */
    .nav-social {
        margin: 8px 0px !important;
    }

    .nav-social .f-icon {
        margin-left: 0px !important;
    }

    .dropdown {
        margin: 10px 0 !important;
    }

    .logout-item {
        padding-top: 0px !important;
    }

    /* end nav comp */

    /* start home comp */
    .mediaTitle {
        font-size: 18px !important;
    }

    .display-media .badge {
        /* margin-right: 29px!important; */
        padding: 4px 6px !important;
        font-size: small;
    }

    /* end home comp */
}