<div id="loading"class='position-fixed top-0 bottom-0 end-0 start-0'>
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
</div>

<div class="container">
    <div class="pt-5 pb-4 inputSearch">
        <input type="search" class='text-white mx-auto w-75 form-control bg-transparent' placeholder="Search by name...."
            [(ngModel)]='tvName'>
    </div>
    <div class="row py-2 d-flex justify-content-center media-page">
        <div *ngFor="let tv of trendingTv|searchByName:tvName" class="col-lg-2 col-md-4 py-2">
            <a [routerLink]="['/tv details',tv.id]" class="position-relative">
                <div class="position-relative">
                    <div
                        class="img-hover-movietv d-flex justify-content-center align-items-center h-100 opacity-1 mx-auto top-0 bottom-0 start-0 end-0 position-absolute">
                    </div>
                    <span class='badge badge-bg end-0 top-0 py-2 px-2 position-absolute'><i class="fa-solid fa-star"></i>
                        {{tv.vote_average}}</span>
                    <img class="w-100" [src]="imgPrefix+tv.poster_path" alt="">
                </div>
                <h3 class="h5 mb-3 mt-2 text-center">{{tv.name}}</h3>
                <p class="text-muted text-center">{{tv.overview|seemore:30}}</p>
            </a>
        </div>
    </div>
    
    <nav aria-label="..." class='d-flex justify-content-center px-5 pb-5 pt-4'>
        <ul class="pagination pagination-sm">
            <li *ngFor="let page of pages" (click)='getTvByPage(page)' class="page-item cursor-pointer"><a
                    class="page-link bg-transparent">{{page}}</a></li>
        </ul>
    </nav>
</div>
